miniproject/NotifyWeather_HttpServer.json
{
  "name": "NotifyWeather_HttpServer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "25ff9aa8-cff4-4329-8f02-66d97dd4a3b2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "locationSelection": "coordinates",
        "latitude": "={{$node[\"HTTP Request\"].json[\"latitude\"]}}",
        "longitude": "={{$node[\"HTTP Request\"].json[\"longitude\"]}}"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "26164ebd-e49f-4ec8-8b73-ff34512870e6",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "HWBQRgPdbEjiUCuP",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef7124a0-cb3e-4258-8295-fef22e9212b2",
              "name": "รายงานสภาพอากาศประจำวัน:",
              "value": "={{ $json.name }}, {{ $json.sys.country }}",
              "type": "string"
            },
            {
              "id": "618aaf69-cfb7-4793-b7a8-feb1cfad8466",
              "name": "สภาพอากาศ:",
              "value": "={{ $json.weather[0].description }}",
              "type": "string"
            },
            {
              "id": "f8fe9d5c-90b3-4714-99b9-28775563b119",
              "name": "อุณหภูมิ:",
              "value": "={{ $json.main.temp }}°C",
              "type": "string"
            },
            {
              "id": "1b931b85-8b6d-4aec-9e58-2ea2618c7f52",
              "name": "ความชื้น:",
              "value": "={{ $json.main.humidity }}",
              "type": "string"
            },
            {
              "id": "6adba667-bbd0-4f48-930c-ae5d6282441e",
              "name": "ความเร็วลม:",
              "value": "={{ $json.wind.speed }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "eb4e7f6e-2679-40b7-bcac-9d8a2a81fa0c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "=-1002922760848",
        "text": "=🌤️ *รายงานสภาพอากาศประจำวัน* 🌤️\n\n📍 *พื้นที่:* {{ $json['รายงานสภาพอากาศประจำวัน:'] }}\n\n☁️ *สภาพอากาศ:* {{ $json['สภาพอากาศ:'] }}\n\n🌡️ *อุณหภูมิ:* {{ $json['อุณหภูมิ:'] }} \n💧 *ความชื้น:* {{ $json['ความชื้น:'] }} %  \n💨 *ความเร็วลม:* {{ $json['ความเร็วลม:'] }} km/h  \n\n👗 *คำแนะนำการแต่งตัวตามสภาพอากาศ:*\n\n{{ \n  // ตรวจสอบสภาพอากาศและแนะนำการแต่งตัว\n  $json['สภาพอากาศ:'] === 'Clear' || $json['สภาพอากาศ:'] === 'Clouds' || $json['สภาพอากาศ:'] === 'overcast clouds' || $json['สภาพอากาศ:'] === 'broken clouds'\n    ? ($json['อุณหภูมิ:'] <= 25 ? 'หนาว: แนะนำให้ท่านสวมเสื้อกันหนาวหนาและผ้าพันคอ' : 'อากาศดี: แนะนำให้ท่านใส่เสื้อเชิ้ตแขนยาวหรือเสื้อแจ็คเก็ตบาง')\n    : $json['สภาพอากาศ:'] === 'Rain' || $json['สภาพอากาศ:'] === 'moderate rain' || $json['สภาพอากาศ:'] === 'light rain'\n      ? 'ตกฝน: แนะนำให้ท่านสวมเสื้อกันฝนหรือพกร่มเพื่อหลีกเลี่ยงฝน'\n      : $json['สภาพอากาศ:'] === 'Snow' || $json['สภาพอากาศ:'] === 'few clouds' || $json['สภาพอากาศ:'] === 'light snow'\n        ? 'หิมะตก: แนะนำให้ท่านสวมเสื้อกันหนาวหนาและใส่ถุงมือกับหมวกเพื่อความอบอุ่น'\n        : 'อากาศดี: แนะนำให้ท่านใส่เสื้อเชิ้ตแขนยาวหรือเสื้อแจ็คเก็ตบาง'\n}}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "8a1e151b-d618-492c-8aa7-988b38cc97b6",
      "name": "Send a text message1",
      "webhookId": "daebf47b-10da-4e80-a63c-09e55e96755b",
      "credentials": {
        "telegramApi": {
          "id": "Om15ng76iW070TqO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://ipapi.co/json/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "b88f946b-5ac0-44b2-a768-ec7737299396",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2fe7dec-675d-4fc6-9312-f9b0d5178437",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "25772876d565d8c0486f8019b68e4c59ce497380041c9da9836583c7029ca726"
  },
  "id": "PUOLsMUSGwUI5b0I",
  "tags": []
}